html {  
  box-sizing: border-box;
}

*,  
*::before,  
*::after {  
  box-sizing: inherit;
}

body {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
/*  justify-content: space-between; */
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-VariableFont_wdth\,wght.ttf')
}

header,
footer {
  background-color: #1F2937;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 24px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.header_main {
  display: flex;
  flex-direction: column;
  padding: 0 25%;
  height: 40vh;
}

.header_top,
.header_bottom {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.header_logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.header_banner_title {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin: 0px;
}

.header_banner_text {
  font-size: 18px;
  color: #E5E7EB;
  margin: 0px;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
  padding: 8px 24px;
  border-radius: 8px;
  margin-top: 8px;
  font-weight: bold;
}

.header_banner {
  flex-basis: 450px;
  flex-shrink: 0;
}

.header_image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: #E5E7EB;
  flex-basis: 400px;
  height: 200px;
}

.header_bottom {
  flex: 1;
  align-items: center;
}

.footer_main {
  display: flex;
  padding: 24px 25%;
  justify-content: center;
  align-items: center;
  color: #E5E7EB;
  font-size: 18px;
}

footer {
  margin-top: auto;
}

.callToAction_main {
  display: flex;
  padding: 48px 25%;
  justify-content: center;
  align-items: center;
  margin: 2% 0px;
}

.callToAction {
  display: flex;
  color: #E5E7EB;
  padding: 8px 24px;
  border-radius: 8px;
  background-color: #3882F6;
  height: 12.5vh;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.callToAction_title {
  font-weight: bold;
  font-size: 18px;
}

p.callToAction_title,
p.callToAction_text,
.callToAction button {
  margin: 0;
}

.callToAction_left {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 150px;
}

.callToAction_right {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.callToAction button {
  border: solid 2px #E5E7EB
}

.quote_main {
  display: flex;
  flex-direction: column;
  padding: 3% 25%;
  height: 40vh;
  justify-content: center;
  background-color: #E5E7EB;
}

.author {
  text-align: end;
  font-weight: bold;
  font-size: 18px;
}

.quote  {
  padding: 0 10%;
}

.quote_content {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
}

.content_main {
  display: flex;
  flex-direction: column;
  padding: 0 25%;
  align-items: center;
  margin: 4% 0;
}

.content {
  flex: 1;
  width: 100%;
}

.content p {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  text-align: center;
  margin: 0 0 32px 0;
}

.boxes {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-bottom: 4%;
}

.box_image {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  border: solid 2px #3882F6;
  border-radius: 24px;
  margin-bottom: 16px;
}

.box_text {
  text-align: center;
}
